// COLORS
    // primary colors
        $bright-red: hsl(12, 88%, 59%);
        $dark-blue:  hsl(228, 39%, 23%);

    //neutral

        $dark-grayish-blue: hsl(227, 12%, 61%);
        $v-dark-blue:  hsl(233, 12%, 13%);
        $v-pale-red: hsl(13, 100%, 96%);
        $v-light-gray: hsl(0, 0%, 98%);

// FONT
    //size
        $default: 1.6rem;
    //weight
        $weight-small: 400;
        $weight-medium: 500;
        $weight-large: 700;
